.container {
  padding: 10vh 10vw 5vh 10vw;
  text-align: center;
  min-height: 75vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.displayImg {
  width: auto;
  max-height: 375px;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  filter: brightness(50%);
}

.displayImgDarken {
  position: absolute;
  color: #fff;
  display: grid;
  align-content: center;
}

.displayImgLink {
  display: flex;
  align-content: center;
  margin: 2vh 3vw;
}

@media (max-width: 1200px) {
  .container {
    padding: 1vh 5vw 5vh 5vw;
    text-align: center;
    min-height: 75vh;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 2vh 5vw 5vh 5vw;
    text-align: center;
    min-height: 75vh;
  }
  .displayImg {
    width: 300px;
    height: auto;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    filter: brightness(50%);
  }
  .displayImgLink {
    display: flex;
    align-content: center;
    margin: 2vh auto;
  }
}
