@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
}

h1 {
  font-size: 48px !important;
  font-weight: 700 !important;
}

h2 {
  font-size: 38px !important;
  font-weight: 600 !important;
}

h3 {
  font-size: 32px !important;
  font-weight: 600 !important;
}

h4 {
  font-size: 24px !important;
  font-weight: 500 !important;
}

p {
  font-size: 18px !important;
  font-weight: 400 !important;
}

label {
  padding-bottom: 8px;
}

input {
  margin-bottom: 1rem;
}

input:focus {
  outline: none;
  transition: 1s;
}

textarea {
  margin-bottom: 1rem;
}

textarea:focus {
  outline: none;
  transition: 0.5s;
}

li {
  display: block;
  padding: 5px 0;
}

ul {
  padding-left: 0 !important;
}

* {
  box-sizing: border-box;
}
