.container {
  padding: 0vh 10vw;
  text-align: left;
  min-height: 75vh;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ImgBackground {
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
  width: auto;
  height: 400px;
  border-radius: 5px;
  margin: 16px 0;
}

.FlexImg {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.DisplayImg {
  padding: 5vh 0;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.HeroImg {
  min-height: 60vh;
  padding-top: 20vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25)),
    url(../public/Images/Home/hero-img.jpg);
  background-position: 0 15%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.introText {
  overflow: hidden;
  height: 65px;
}

/* .flip2 {
  animation: flip2 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
.flip3 {
  animation: flip3 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
} */
.flip4 {
  animation-delay: 1s;
  animation: flip4 15s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

/* @keyframes flip2 {
  0% {
    margin-top: -180px;
  }
  5% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
} */

@keyframes flip4 {
  0% {
    margin-top: -300px;
  }
  5% {
    margin-top: -205px;
  }
  25% {
    margin-top: -205px;
  }
  30% {
    margin-top: -142px;
  }
  50% {
    margin-top: -142px;
  }
  55% {
    margin-top: -70px;
  }
  75% {
    margin-top: -70px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@media (max-width: 600px) {
  .ImgBackground {
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 16px 0;
  }
  .HeroImg {
    min-height: 60vh;
    padding-top: 20vh;
    padding-right: 2vw;
    padding-left: 2vw;
    background-position: 60% 30%;
  }
}

@media (max-width: 900px) {
  .ImgBackground {
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 16px 0;
  }
}
