.navLink {
  color: black;
  padding: 8px;
  font-size: 18px;
  text-decoration: none;
}

.navLink:hover {
  color: black;
  padding: 8px;
  font-size: 18px;
  text-decoration: none;
}

.NavBrandLink {
  font-size: 24;
  font-weight: Bold;
  text-decoration: none;
  color: #000;
}

.NavBrandLink:hover {
  font-size: 24;
  font-weight: Bold;
  text-decoration: none;
  color: #000;
}

@media (max-width: 600px) {
  .navLink {
    text-align: center;
  }
}
