.Show {
  position: fixed;
  bottom: 32px;
  left: 32px;
  height: 48px;
  width: 48px;
  border: 3px solid rgb(0, 0, 0);
  background-color: white;
  border-radius: 5rem;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
}
